<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="hydrator">
            <file>tests/HydratorTest.php</file>
        </testsuite>
        <testsuite name="dynamicHydrator">
            <file>tests/DynamicHydratorTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
